header {
    background-image: url(bokeh-1033539_1920.jpg);
    background-position: center;
    background-size: contain;
    background-origin: no-repeat, left top;
    align-items: 
    width: auto;
    height: 300px;
    text-align: center;


    
    
}